{% extends 'base.html.twig' %}

{% block title %}AppartmentPricing index{% endblock %}

{% block body %}
    <h1>AppartmentPricing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appartment_pricing in appartment_pricings %}
            <tr>
                <td>{{ appartment_pricing.id }}</td>
                <td>{{ appartment_pricing.startDate ? appartment_pricing.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appartment_pricing.endDate ? appartment_pricing.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appartment_pricing.price }}</td>
                <td>
                    <a href="{{ path('appartment_pricing_show', {'id': appartment_pricing.id}) }}">show</a>
                    <a href="{{ path('appartment_pricing_edit', {'id': appartment_pricing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appartment_pricing_new') }}">Create new</a>
{% endblock %}
