{% extends 'base.html.twig' %}

{% block title %}AppartmentPricing{% endblock %}

{% block body %}
    <h1>AppartmentPricing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appartment_pricing.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ appartment_pricing.startDate ? appartment_pricing.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ appartment_pricing.endDate ? appartment_pricing.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ appartment_pricing.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appartment_pricing_index') }}">back to list</a>

    <a href="{{ path('appartment_pricing_edit', {'id': appartment_pricing.id}) }}">edit</a>

    {{ include('appartment_pricing/_delete_form.html.twig') }}
{% endblock %}
